{
   "tenantId": "<your tenant id>",
   "appId": "<your app id>",
   "appSecret": "<your app secret>",
   "subscriptionId": "<your subscription id>",
   "resourceGroup": "<your resource group>",
   "vmssName": "<your VM Scale Set name>",
   "location": "<your selected region>",
}
