{
   "accountName": "<your-accountname>",
   "accountKey": "<your-accountkey>",
   "sto_accountName": "<your-storage-account-name>",
   "sto_accountKey": "<your-storage-account-key>",
   "logName": "<log-name>",
   "logLevel": "<log-level>",
   "purgeLog": "Yes",
}
